:host {
  --aotw-overlay-container-level: 1000;
}

:host {
  align-items: center;
  display: flex;
  inset: 0;
  justify-content: center;
  pointer-events: none;
  position: fixed;
  z-index: var(--aotw-overlay-container-level);
}

aotw-overlay-panel {
  pointer-events: auto;
}
