h1:not(:first-of-type),
h2 {
  border-bottom: 0 !important;
  margin-block: var(--aotw-space-4xl) 0 !important;
}

h3 {
  border-bottom: 0 !important;
  font-weight: var(--aotw-font-weight-regular) !important;
  margin-block: var(--aotw-space-3xl) 0 !important;
}

h4 {
  font-weight: var(--aotw-font-weight-regular);
  margin-bottom: 0 !important;
}

.overview {
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--aotw-size-xl) * 5), 1fr));
  gap: var(--aotw-space-4xl);
  margin-bottom: var(--aotw-space-4xl);

  section {
    display: grid;
    gap: var(--aotw-space-xl);
  
    .variant {
      align-items: center;
      display: grid;
      gap: var(--aotw-space-2xl);
      grid-template-columns: calc(var(--aotw-size-l) * 2) 1fr;
  
      .content {
        display: flex;
        gap: var(--aotw-space-s);
      }

      &.no-header {
        grid-template-columns: 1fr;
  
        .content {
          flex-direction: column;
        }
      }
    }
  }
}

.footer {
  bottom: 0;
  right: 0;
  padding: var(--aotw-size-s);
  position: fixed;
}
