@use '@aotw/core/src/typography';

:host {
  @include typography.typography-body;
  background-color: var(--aotw-container-background-color, var(--aotw-color-grey-100));
  box-sizing: border-box;
  color: var(--aotw-container-color, var(--aotw-color-primary-500));
  display: grid;
  height: 100%;
  min-height: var(--aotw-size-s);
  padding: var(--aotw-space-s);
  width: 100%;
}

:host([elevated]) {
  box-shadow: var(--aotw-elevation-xs);
}