button {
  padding-top: 2px;

  transition: background-color 200ms ease-in-out;

  &:hover {
    background-color: rgba($primary-blue, 0.05);
  }
}

.btn-primary,
.btn-secondary {
  width: 120px;
  height: 40px;

  @include typography-button;
}
.btn-primary {
  color: $default-white;
}
.btn-secondary {
  background-color: $default-white;

  color: $primary-blue;
}
