@import '@aotw/core/src/typography';

:host {
  @include typography-body;
  position: relative;
  display: flex;
  align-items: center;
  gap: var(--aotw-space-m);
  height: 24px;
  color: var(--aotw-color-black);
}

:host([disabled]) {
  pointer-events: none;
}

.toggle-switch {
  display: flex;
  align-items: center;
  width: 40px;
  height: 100%;
  cursor: pointer;
  
  .switch,
  .handle {
    background-color: var(--aotw-color-primary-100);
    transition: all 150ms ease-in-out;
  }

  .switch {
    width: 40px;
    height: 6px;      
    border-radius: var(--aotw-radius-s);
  }

  .handle {
    position: absolute;
    width: 16px;
    height: 16px;
    top: var(--aotw-space-xs);
    left: 0;
    border-radius: 50%;
  }

  &.active {
    .switch,
    .handle {
      background-color: var(--aotw-color-primary-500);
    }

    .handle {
      left: var(--aotw-space-2xl);
    }
  }

  &.disabled {
    cursor: not-allowed;

    .switch,
    .handle {
      background-color: var(--aotw-color-secondary-300);
    }
  }
}
