@import '@aotw/core/src/colors';
@import '@aotw/core/src/radii';
@import '@aotw/core/src/space';
@import '@aotw/core/src/typography';

:host {
  position: relative;
  display: flex;
  align-items: center;
  gap: $aotw-space-m;
  height: 24px;
  color: $default-black;
  
  @include typography-body;

  .toggle-switch {
    display: flex;
    align-items: center;
    width: 40px;
    height: 100%;
    cursor: pointer;
    
    .switch,
    .handle {
      background-color: $primary-blue-100;
      transition: all 150ms ease-in-out;
    }
    .switch {
      width: 40px;
      height: 6px;      
      border-radius: $aotw-radius-s;
    }
    .handle {
      position: absolute;
      width: 16px;
      height: 16px;
      top: $aotw-space-xs;
      left: 0;
      border-radius: 50%;
    }
    &.active {
      .switch,
      .handle {
        background-color: $primary-blue-500;
      }
      .handle {
        left: $aotw-space-2xl;
      }
    }
    &.disabled {
      cursor: not-allowed;

      .switch,
      .handle {
        background-color: $secondary-smoke-200;
      }
    }
  }
}