@import '@aotw/core/src/typography';

:host {
  display: inline-block;
}

label {
  @include typography-body;
  position: relative;
  display: grid;
  gap: var(--aotw-space-xs);
  color: var(--aotw-color-primary-500);

  span {
    height: 20px;
  }

  input {
    @include typography-input;
    box-sizing: border-box;
    height: 32px;
    padding-inline: var(--aotw-space-s) var(--aotw-space-5xl);
    background-color: var(--aotw-color-white);
    border: none;
    border-bottom: 2px solid transparent;
    color: var(--aotw-color-black);
  }

  aotw-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  
  &:focus-within,
  &:hover {
    font-weight: 500;
  }

  &:focus-within {
    input {
      border-bottom-color: var(--aotw-color-primary-500);
    }
    
  }
}

p {
  @include typography-body-small;
  height: 16px;
  margin: var(--aotw-space-xs) 0;
  color: var(--aotw-color-primary-500);

  &.error {
    color: var(--aotw-color-error-500);
  }

  &.warning {
    color: var(--aotw-color-warning-500);
  }
}