[aotw-checkbox] {
  display: none;

  + label {
    align-items: center;
    cursor: pointer;
    display: inline-flex;
    gap: var(--aotw-space-s);
    position: relative;

    &::before {
      background-color: var(--aotw-color-white);
      border: 0.125rem solid var(--aotw-color-white);
      border-radius: 0.125rem;
      box-sizing: border-box;
      content: '';
      height: var(--aotw-size-xs);
      order: -1;
      width: var(--aotw-size-xs);
    }
  }

  &:checked + label {
    &::before {
      background-color: var(--aotw-color-primary-500);
    }
  }

  &:indeterminate + label {
    &::before {
      background-color: var(--aotw-color-primary-500);
      border-width: 0.25rem;
    }
  }

  &:disabled + label {
    pointer-events: none;

    &::before {
      background-color: var(--aotw-color-grey-100);
      border: none;
    }
  }
}
