$primary-blue-50: #f0f0ff;
$primary-blue-100: #e3e3ff;
$primary-blue-200: #cfcfff;
$primary-blue-300: #a0a0ff;
$primary-blue-400: #44f;
$primary-blue-500: #00f;
$primary-blue-600: #0000d4;
$primary-blue-700: #0000b8;
$primary-blue-800: #00009a;
$primary-blue-900: #00007c;

$secondary-grey-50: #dee1ec;
$secondary-grey-100: #d6d7e4;
$secondary-grey-500: #5a5d70;
$secondary-grey-700: #3a3c50;
$secondary-grey-900: #1a1b30;

$secondary-smoke-100: #dcdee4;
$secondary-smoke-200: #bfc2ca;

$tertiary-steelblue-500: #5982ed;

$tertiary-wheat-300: #fff3d3;
$tertiary-wheat-400: #eee4c4;
$tertiary-wheat-500: #ddd5b5;

$default-black: #333;
$default-white: #fff;
$default-grey: #969696;
