$aotw-color-black: var(--aotw-color-black);
$aotw-color-white: var(--aotw-color-white);

$aotw-color-grey-100: var(--aotw-color-grey-100);
$aotw-color-grey-200: var(--aotw-color-grey-200);
$aotw-color-grey-300: var(--aotw-color-grey-300);
$aotw-color-grey-400: var(--aotw-color-grey-400);
$aotw-color-grey-500: var(--aotw-color-grey-500);
$aotw-color-grey-600: var(--aotw-color-grey-600);

$aotw-color-primary-100: var(--aotw-color-primary-100);
$aotw-color-primary-200: var(--aotw-color-primary-200);
$aotw-color-primary-300: var(--aotw-color-primary-300);
$aotw-color-primary-400: var(--aotw-color-primary-400);
$aotw-color-primary-500: var(--aotw-color-primary-500);

$aotw-color-secondary-100: var(--aotw-color-secondary-100);
$aotw-color-secondary-200: var(--aotw-color-secondary-200);
$aotw-color-secondary-300: var(--aotw-color-secondary-300);
$aotw-color-secondary-400: var(--aotw-color-secondary-400);
$aotw-color-secondary-500: var(--aotw-color-secondary-500);

$aotw-color-success-500: var(--aotw-color-success-500);

$aotw-color-error-500: var(--aotw-color-error-500);

$aotw-color-warning-500: var(--aotw-color-warning-500);
