[aotw-input] {
  background-color: var(--aotw-color-white);
  border: none;
  box-shadow: var(--aotw-elevation-xs);
  box-sizing: border-box;
  color: var(--aotw-color-black);
  font-family: var(--aotw-font-family-primary);
  font-size: var(--aotw-font-size-s);
  height: var(--aotw-height-m);
  padding-inline: var(--aotw-space-m);

  &[disabled] {
    color: var(--aotw-color-grey-300);
    pointer-events: none;

    &::placeholder {
      color: inherit;
    }
  }
}