@use './typography';

input {
  @include typography.typography-body;
  background-color: var(--aotw-color-white);
  border: none;
  box-sizing: border-box;
  color: var(--aotw-color-primary-500);
  height: var(--aotw-size-m);
  padding-inline: var(--aotw-space-s);

  &::placeholder {
    color: var(--aotw-color-primary-300);
  }

  &[disabled] {
    color: var(--aotw-color-grey-300);
    pointer-events: none;

    &::placeholder {
      color: inherit;
    }
  }
}