@import 'typography';

html,
body {
  @include typography-body;
  background-color: var(--aotw-color-secondary-100);
  color: var(--aotw-color-primary-500);

  h1,
  h2,
  h3 {
    @include typography-header;
  }

  a {
    @include typography-link;
    color: var(--aotw-color-primary-500);
    cursor: pointer;
  }
}
