@import 'colors';
@import 'typography';

html,
body {
  background-color: $aotw-color-secondary-100;

  @include typography-body;
  color: $aotw-color-primary-500;

  h1,
  h2,
  h3 {
    @include typography-header;
  }
  a {
    cursor: pointer;

    @include typography-link;
    color: $aotw-color-primary-500;
  }
}
