@import './functions/size';

$aotw-space-xs: generate-size(1);
$aotw-space-s: generate-size(2);
$aotw-space-m: generate-size(3);
$aotw-space-l: generate-size(4);
$aotw-space-xl: generate-size(5);
$aotw-space-2xl: generate-size(6);
