$aotw-space-xs: var(--aotw-space-xs);
$aotw-space-s: var(--aotw-space-s);
$aotw-space-m: var(--aotw-space-m);
$aotw-space-l: var(--aotw-space-l);
$aotw-space-xl: var(--aotw-space-xl);
$aotw-space-2xl: var(--aotw-space-2xl);
$aotw-space-3xl: var(--aotw-space-3xl);
$aotw-space-4xl: var(--aotw-space-4xl);
$aotw-space-5xl: var(--aotw-space-5xl);
$aotw-space-6xl: var(--aotw-space-6xl);
