[aotw-table] {
  border-collapse: collapse;
  border-spacing: 0;

  thead tr,
  tbody tr:not(:last-of-type) {
    border-bottom: 1px solid var(--aotw-color-grey-300);
  }

  thead th:first-of-type,
  tbody th {
    border-right: 1px solid var(--aotw-color-grey-300);
  }

  caption,
  td,
  th {
    line-height: var(--aotw-font-line-height-xl);
    padding: 0 var(--aotw-space-s);
    text-align: left;
  }

  > caption {
    font-weight: var(--aotw-font-weight-bold);
  }

  th {
    font-weight: var(--aotw-font-weight-medium);
  }
}
