@import './typography';

input[type='checkbox'][toggle-switch] {
  display: none;

  + label {
    @include typography-body;
    position: relative;
    display: inline-flex;
    align-items: center;
    gap: var(--aotw-space-m);

    &::after,
    &::before {
      content: '';
      order: -1;
      background-color: var(--aotw-color-primary-300);
      transition: all 150ms ease-in-out;
      transition-property: background-color, left;
    }

    &::before {
      width: calc(var(--aotw-size-m) + var(--aotw-space-s));
      height: calc(var(--aotw-size-s) / 4);
      border-radius: var(--aotw-radius-s);
    }

    &::after {
      position: absolute;
      width: calc(var(--aotw-size-m) / 2);
      height: calc(var(--aotw-size-m) / 2);
      left: 0;
      border-radius: 50%;
    }
  }

  &:active + label {
    &::before,
    &::after {
      background-color: var(--aotw-color-primary-400);
    }
  }

  &:checked + label {
    &::before,
    &::after {
      background-color: var(--aotw-color-primary-500);
    }

    &::after {
      left: var(--aotw-space-2xl);
    }
  }

  &:disabled + label {
    color: var(--aotw-color-grey-400);

    &::before,
    &::after {
      background-color: var(--aotw-color-grey-300);
    }
  }

  &:not([disabled]) + label {
    cursor: pointer;
  }
}
