@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@mixin typography-button {
  font-family: var(--aotw-font-family-primary);
  font-weight: var(--aotw-font-weight-medium);
  font-size: var(--aotw-font-size-s);
  line-height: var(--aotw-font-line-height-s);
  text-decoration: none;
}
@mixin typography-body {
  font-family: var(--aotw-font-family-primary);
  font-weight: var(--aotw-font-weight-regular);
  font-size: var(--aotw-font-size-s);
  line-height: var(--aotw-font-line-height-s);
}
@mixin typography-body-small {
  font-family: var(--aotw-font-family-primary);
  font-weight: var(--aotw-font-weight-regular);
  font-size: var(--aotw-font-size-xs);
  line-height: var(--aotw-font-line-height-s);
}
@mixin typography-header {
  font-family: var(--aotw-font-family-primary);
  font-weight: var(--aotw-font-weight-medium);
  font-size: var(--aotw-font-size-l);
  line-height: var(--aotw-font-line-height-s);
}
@mixin typography-header-small {
  font-family: var(--aotw-font-family-primary);
  font-weight: var(--aotw-font-weight-regular);
  font-size: var(--aotw-font-size-m);
  line-height: var(--aotw-font-line-height-s);
}
@mixin typography-header-smallcaps {
  font-family: var(--aotw-font-family-primary);
  font-weight: var(--aotw-font-weight-regular);
  font-size: var(--aotw-font-size-s);
  line-height: var(--aotw-font-line-height-s);
  letter-spacing: var(--aotw-font-letter-spacing-m);
  text-transform: uppercase;
}
@mixin typography-input {
  font-family: var(--aotw-font-family-primary);
  font-weight: var(--aotw-font-weight-regular);
  font-size: var(--aotw-font-size-s);
  line-height: var(--aotw-font-line-height-s);
  text-decoration: none;
}
@mixin typography-link {
  font-family: var(--aotw-font-family-primary);
  font-weight: var(--aotw-font-weight-bold);
  font-size: var(--aotw-font-size-s);
  line-height: var(--aotw-font-line-height-s);
  text-decoration: none;
}
