:host {
  align-items: center;
  background-color: var(--aotw-color-white);
  color: var(--aotw-color-secondary-500);
  display: grid;
  gap: var(--aotw-space-s);
  grid-template-columns: auto 1fr auto;
  font-family: var(--aotw-font-family-primary);
  padding: var(--aotw-space-m) var(--aotw-space-l);
}

:host(:hover) {
  background-color: var(--aotw-color-primary-50);
}

:host(:active) {
  background-color: var(--aotw-color-primary-100);
}

::slotted(*[prefix]) {
  grid-column: 1 / 2;
}
::slotted(*[suffix]) {
  grid-column: 3 / 4;
}

:host([disabled]) {
  color: var(--aotw-color-secondary-200);
}