@import '@aotw/core/src/typography';

button {
  @include typography-body-small;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: var(--aotw-space-xs);
  height: var(--aotw-height-s);
  background-color: var(--aotw-color-secondary-50);
  border: none;
  border-radius: var(--aotw-radius-m);
  color: var(--aotw-color-primary-500);

  ::slotted(aotw-icon[suffix]) {
    cursor: pointer;
  }
}
