@import '@aotw/core/src/typography';

:host {
  @include typography-body-small;
  align-items: center;
  background-color: var(--aotw-tag-background-color, var(--aotw-color-grey-200));
  border-radius: var(--aotw-radius-m);
  box-sizing: border-box;
  color: var(--aotw-tag-color, var(--aotw-color-primary-500));
  display: inline-flex;
  gap: var(--aotw-space-xs);
  height: var(--aotw-size-s);
  padding-inline: var(--aotw-space-xs);

  ::slotted([suffix]) {
    cursor: pointer;
  }
}
