:host {
  color: var(--aotw-color-primary-500);
  font-family: var(--aotw-font-family-primary);
  height: 16px;
  margin: var(--aotw-space-xs) 0;
  transition: all 150ms ease-in-out;
}

:host([disabled]) {
  color: var(--aotw-color-secondary-200);
}
