<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/src/favicon.svg" />
    <link rel="stylesheet" href="/index.scss">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Archive of the World Library</title>
    <script type="module" src="/index.ts"></script>
    <script type="module" src="/src/index.ts"></script>
  </head>
  <body>
    <main>
      <aotw-button id="chip">chip</aotw-button>
      <aotw-button id="chip-icon">chip w/ icon</aotw-button>
      <aotw-button id="chip-icon-and-text">chip w/ icon + text</aotw-button>
      <aotw-button id="deletable-chip">deletable chip</aotw-button>
    </main>
  </body>
</html>
