@import '@aotw/core/dist/variables.css';

body {
  background-color: var(--aotw-color-secondary-50);

  main {
    display: flex;
    flex-flow: row wrap;
    gap: var(--aotw-space-s);
    margin: var(--aotw-space-s);
    padding: var(--aotw-space-s);
  }
}
