@import '@aotw/core/src/colors';
@import '@aotw/core/src/space';

body {
  background-color: $secondary-grey-50;

  main {
    display: flex;
    flex-flow: row wrap;
    gap: $aotw-space-s;
    margin: $aotw-space-s;
    padding: $aotw-space-s;
  }
}