:host {
  color: var(--aotw-color-primary-500);
  font-family: var(--aotw-font-family-primary);
  font-size: var(--aotw-font-size-xs);
  transition: all 150ms ease-in-out;
}

:host([disabled]) {
  color: var(--aotw-color-secondary-200);
}