@import "src/theme/reset";
@import "src/theme/colors";
@import "src/theme/radii";
@import "src/theme/spacing";
@import "src/theme/typography";

button {
  padding: $aotw-spacing-xs $aotw-spacing-s;

  overflow: hidden;
  border-radius: $aotw-radius-s;
  transition: background-color 200ms ease-in-out;

  @include typography-button;
  text-transform: uppercase;

  p {
    display: flex;
    align-items: center;
    gap: $aotw-spacing-xs;
  }
  &.primary {
    background-color: $primary-blue-500;

    color: $default-white;

    &:hover {
      background-color: $primary-blue-600;
    }
    &:active {
      background-color: $primary-blue-700;
    }
  }
  &.secondary {
    background-color: $secondary-ice-100;

    color: $primary-blue-500;

    &:hover {
      background-color: $secondary-ice-200;
    }
    &:active {
      background-color: $secondary-ice-300;
    }
  }
  &.disabled {
    cursor: not-allowed;
    background-color: $secondary-smoke-100;

    color: $default-white;
  }
}
