@import 'src/theme/reset';
@import 'src/theme/colors';
@import 'src/theme/typography';

:host {
  display: grid;
  min-width: 120px;
  min-height: 40px;
  
  button {
    padding-top: 2px;
  
    transition: background-color 200ms ease-in-out;

    @include typography-button;
    text-transform: capitalize;

    &.primary {
      background-color: $primary-blue;
  
      color: $default-white;

      &:hover {
        background-color: $primary-blue-focus;
      }
    }
    &.secondary {
      background-color: $secondary-ice;
    
      color: $primary-blue;

      &:hover {
        background-color: $secondary-ice-focus;
      }
    }
  }
}  
