$primary-blue-500: #00f;
$primary-blue-600: #0000e2;

$secondary-smoke-100: #dcdee4;
$secondary-ice-100: #f0f0ff;
$secondary-ice-200: #e3e3ff;

$tertiary-steelblue-500: #5982ed;
$tertiary-wheat-300: #fff3d3;

$default-black: #333;
$default-white: #fff;
$default-grey: #969696;
