@import "reset";
@import "colors";
@import "spacing";
@import "typography";

html,
body {
  background-color: $secondary-smoke;

  @include typography-default;
  color: $primary-blue;

  h1,
  h2,
  h3 {
    @include typography-header;
  }
  a {
    cursor: pointer;

    @include typography-link;
    color: $primary-blue;
  }
}
