@import '@aotw/core/src/colors';
@import '@aotw/core/src/spaces';
@import '@aotw/core/src/typography';

.palette {
  position: relative;
  display: grid;
  gap: $aotw-space-l;

  @include typography-body;

  &_grid {
    z-index: 1;
    position: absolute;
    display: grid;
    gap: $aotw-space-l;
    top: 46px;
    margin-left: 100px;
    padding-left: $aotw-space-m;
    
    &__row {
      display: grid;
      grid-template-columns: repeat(10, 60px);

      div {
        position: relative;
        height: 60px;

        &::before {
          content: '';
          position: absolute;
          display: block;
          inset: 28px;
          background-color: $aotw-color-secondary-100;
        }
      }
    }
  }
  &_header {
    display: grid;
    grid-template-columns: repeat(10, 60px);
    height: 30px;
    margin-left: 100px;
    padding-left: $aotw-space-m;

    p {
      margin: auto;
    }
  }
  &_color-range {
    z-index: 2;
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: $aotw-space-m;

    &__values {
      display: grid;
      grid-template-columns: repeat(10, 60px);
      height: 60px;

      .primary {
        &_50 {
          background-color: $aotw-color-primary-50;
        }
        &_100 {
          background-color: $aotw-color-primary-100;
        }
        &_300 {
          grid-column: 4 / 5;
          background-color: $aotw-color-primary-300;
        }
        &_400 {
          background-color: $aotw-color-primary-400;
        }
        &_500 {
          background-color: $aotw-color-primary-500;
        }
        &_700 {
          grid-column: 8 / 9;
          background-color: $aotw-color-primary-700;
        }
        &_900 {
          grid-column: 10 / 11;
          background-color: $aotw-color-primary-900;
        }
      }
      .secondary {
        &_50 {
          background-color: $aotw-color-secondary-50;
        }
        &_100 {
          background-color: $aotw-color-secondary-100;
        }
        &_200 {
          background-color: $aotw-color-secondary-200;
        }
        &_300 {
          background-color: $aotw-color-secondary-300;
        }
        &_400 {
          background-color: $aotw-color-secondary-400;
        }
        &_500 {
          background-color: $aotw-color-secondary-500;
        }
        &_700 {
          grid-column: 8 / 9;
          background-color: $aotw-color-secondary-700;
        }
        &_900 {
          grid-column: 10 / 11;
          background-color: $aotw-color-secondary-900;
        }
      }
      .tertiary {
        &_300 {
          grid-column: 4 / 5;
          background-color: $aotw-color-tertiary-300;
        }
        &_400 {
          background-color: $aotw-color-tertiary-400;
        }
        &_500 {
          background-color: $aotw-color-tertiary-500;
        }
      }
      .success {
        &_500 {
          grid-column: 6 / 7;
          background-color: $aotw-color-success-500;
        }
      }
      .error {
        &_500 {
          grid-column: 6 / 7;
          background-color: $aotw-color-error-500;
        }
      }
      .warning {
        &_500 {
          grid-column: 6 / 7;
          background-color: $aotw-color-warning-500;
        }
      }
    }
  }
}