:host {
  align-items: center;
  background-color: var(--aotw-list-item-background-color, var(--aotw-color-grey-100));
  grid-template-columns: auto 1fr auto;
  min-height: var(--aotw-size-l);
}

:host(:hover) {
  background-color: var(--aotw-list-item-background-color-hover, var(--aotw-color-grey-200));
}

:host(:active) {
  background-color: var(--aotw-list-item-background-color-active, var(--aotw-color-grey-300));
  transition: background-color 150ms ease-in-out;
}

::slotted([prefix]) {
  grid-column: 1 / 2;
  margin-right: var(--aotw-space-s);
}
::slotted([suffix]) {
  grid-column: 3 / 4;
  margin-left: var(--aotw-space-s);
}

:host([disabled]) {
  color: var(--aotw-color-grey-300);
  pointer-events: none;
}
