:host {
  color: var(--aotw-color-primary-500);
  display: flex;
  font-family: var(--aotw-font-family-primary);
  font-size: var(--aotw-font-size-m);
  position: relative;
  width: 100%;
}

.active-line {
  background-color: var(--aotw-color-primary-500);
  bottom: 0;
  height: 2px;
  left: 0;
  position: absolute;
  transition: all 200ms ease-in-out;
}
