.close-button {
  position: relative;
  width: 30px;
  height: 40px;  
  margin: 0 var(--aotw-space-xs);
  cursor: pointer;
  background-color: transparent;
  border: none;

  &::before,
  &::after {
    content: '';
    position: absolute;
    left: -5%;
    width: 110%;
    height: 2px;

    background-color: var(--aotw-color-primary-500);
    transition: all 200ms ease-in-out;
}

  &::before {
    transform: rotate(25deg);
  }

  &:after {
    transform: rotate(-25deg);
  }

  &:hover {
    &::before,
    &::after {
      background-color: var(--aotw-color-primary-400);
    }
  }

  &:active {
    &::before,
    &::after {
      background-color: var(--aotw-color-primary-700);
    }
  }
}
