@import '@aotw/core/src/colors';
@import '@aotw/core/src/radii';
@import '@aotw/core/src/reset';
@import '@aotw/core/src/spacing';
@import '@aotw/core/src/typography';

button {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: $aotw-spacing-s;
  height: 32px;
  padding-inline: $aotw-spacing-s;
  border-radius: $aotw-radius-s;
  transition: background-color 200ms ease-in-out;

  @include typography-button;
  text-transform: uppercase;

  p {
    display: flex;
    align-items: center;
    gap: $aotw-spacing-xs;
  }
  &.primary {
    background-color: $primary-blue-500;
    color: $default-white;

    &:hover {
      background-color: $primary-blue-600;
    }
    &:active,
    &.active {
      background-color: $primary-blue-700;
    }
  }
  &.secondary {
    background-color: $secondary-grey-700;
    color: $default-white;

    &:hover {
      background-color: $secondary-grey-500;
    }
    &:active,
    &.active {
      background-color: $secondary-grey-900;
    }
  }
  &.disabled {
    pointer-events: none;
    background-color: $secondary-smoke-100;
    color: $default-white;
  }
}
