@import '@aotw/core/src/colors';
@import '@aotw/core/src/radii';
@import '@aotw/core/src/reset';
@import '@aotw/core/src/space';
@import '@aotw/core/src/typography';

button {
  overflow: hidden;
  display: flex;
  align-items: center;
  gap: $aotw-space-s;
  height: 32px;
  padding-inline: $aotw-space-s;
  border: 1px solid transparent;
  transition: background-color 200ms ease-in-out;

  @include typography-button;
  text-transform: uppercase;

  p {
    display: flex;
    align-items: center;
    gap: $aotw-space-xs;
  }
  &.primary {
    background-color: $primary-blue-500;
    color: $default-white;
    
    &:hover {
      background-color: $primary-blue-400;
    }
    &:active,
    &.active {
      background-color: $primary-blue-700;
    }
    &.ghost,
    &.outline {
      color: $primary-blue-500;

      &:hover {
        color: $primary-blue-400;
      }
      &:active,
      &.active {
        background-color: $primary-blue-50;
        color: $primary-blue-700;
      }
    }
    &.ghost {
      background-color: transparent;
    }
    &.outline {
      background-color: $default-white;
      border: 1px solid $primary-blue-500;

      &:hover {
        border-color: $primary-blue-400;
      }
      &:active,
      &.active {
        border-color: $primary-blue-700;
      }
    }
  }
  &.secondary {
    background-color: $secondary-grey-700;
    color: $default-white;

    &:hover {
      background-color: $secondary-grey-500;
    }
    &:active,
    &.active {
      background-color: $secondary-grey-900;
    }
    &.ghost,
    &.outline {
      color: $secondary-grey-700;

      &:hover {
        color: $secondary-grey-500;
      }
      &:active,
      &.active {
        background-color: $secondary-grey-100;
        color: $secondary-grey-900;
      }
    }
    &.ghost {
      background-color: transparent;
    }
    &.outline {
      background-color: $default-white;
      border: 1px solid $secondary-grey-700;

      &:hover {
        border-color: $secondary-grey-500;
      }
      &:active,
      &.active {
        border-color: $secondary-grey-900;
      }
    }
  }
  &.ghost,
  &.outline {
    &.disabled {
      pointer-events: none;
      color: $secondary-smoke-200;
    }
  }
  &.outline {
    &.disabled {
      border-color: $secondary-smoke-200;
    }
  }
  &.disabled {
    pointer-events: none;
    background-color: $secondary-smoke-100;
    color: $secondary-smoke-200;
  }
}
