:host {
  align-items: center;
  color: var(--aotw-color-grey-300);
  display: flex;
  gap: var(--aotw-space-s);
}

.handle {
  background-color: var(--aotw-color-grey-100);
  border-radius: 50%;
  height: var(--aotw-size-xs);
  width: var(--aotw-size-xs);
}

:host([active]),
:host([completed]) {
  .handle {
    background-color: var(--aotw-color-primary-500);
  }
}

:host([active]) {
  color: var(--aotw-color-primary-500);

  .handle {
    outline: 2px solid var(--aotw-color-grey-100);
  }
}
